@import './_settings/base';
@import './_settings/variables';
@import './_settings/animations';

.wa-app-cont , .wa-app-cont--nodata {
    max-width: 80rem;
    margin: auto;
    padding: 1rem;

    .wa-loadmask {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-black-dark,.7);

        .wa-loader-cont {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);    
        }
    }
}

.wa-app-cont--nodata {

    .wa-header{
        position: fixed;
        width: 90%;
        max-width: 80rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}